.card {
	display: grid;
	grid-template-columns: 1fr 3.25fr 1 fr;
	grid-template-rows: 1fr 5fr 1fr;
	grid-template-areas:
		"label-upper . ."
		". label-main ."
		". . label-lower";
	
	--card-height: 4em;
	--card-width: calc(var(--card-height) / 1.4);
	height: var(--card-height);
	width: var(--card-width);
	padding: .25em;

	font-family: 'Quicksand', sans-serif;

	outline: 1px solid black;
	border-radius: 5%;
}

.active {
	outline: .15em solid black;
}

.card-label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;

	font-size: calc(var(--card-height) / 9);
}

.card-label-upper {
	grid-area: label-upper;
}

.card-label-main {
	grid-area: label-main;
	font-size: calc(var(--card-height) / 3.5);
}

.card-label-lower {
	grid-area: label-lower;
	transform: rotate(180deg);
}

.red-suit {
	color: #a60000;
}

p {
	margin: 0;
}